body{
    width: 100%;
    position: relative;
    background: #181818;
    font-family: 'roboto', sans-serif;
}

/* nav bar */

.navBar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 9;
    background: none;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
}

.joinBox{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
}

.joinMsg{
    color: #fff;
    /* text-transform: uppercase; */
}

.logo{
    height: 50px;
}

.btn{
    border: 1px solid #fff;
    border-radius: 2px;
    background: none;
    color: #fff;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    /* text-transform: uppercase; */
    cursor: pointer;
}

.joinBtn{
    background: #dd0e15;
    border-color: #dd0e15;
}

/* main */

.main{
    position: relative;
    margin-top: 60px;
    width: 100%;
    padding: 20px 2.5vw;
    color: white;
    background-image: url("../images/BackgroundTest.jpg");
    background-size: cover;
    background-position: center;
}